.personal-data {
   input {
    
    border: $inside-boarder !important;
    background: white !important;
    margin: 10px 10px;
} 
}
.first-fields, .second-fields, .third-fields, .four-fields {
    border-bottom: $inside-boarder;
}

.second-fields {
    label {
        margin-right: 60px;
    }
}

.third-fields {
    label {
        margin-right: 60px;
    }
}

.four-fields {
    label {
        margin-right: 35px;
    }
}

.field {
    margin: 15px auto;
}

.end {
    background-color: cyan;
}