.personal-data {
   form {
       
       ::placeholder {
           color: red;
       }
   }

    input {
    
    border: $inside-boarder !important;
    background: white !important;
    margin: 10px 10px;   
    } 

    ul {
        list-style: none;
        text-align: center;
    }
    .hidden.mail.input  {
        display: none !important;
    }

    .show.mail.input {
        display: inline-block;
    }

}


.first-fields, .second-fields, .third-fields, .four-fields {
    border-bottom: $inside-boarder;
}

.second-fields {
    label {
        margin-right: 60px;
    }
}

.third-fields {
    label {
        margin-right: 60px;
    }
}

.four-fields {
    label {
        margin-right: 35px;
    }
}

.field {
    margin: 15px auto;
}

.end {
    background-color: cyan;
}