.personal-data {
   input {
    
    border: 1px solid black !important;
    background: white !important;
    margin: 10px 20px;
} 
}

.field {
    margin: 15px auto;
}

.line-one {
    border-bottom: 1px solid black;
    display: inline-block;
    width: 100%;
    position: relative;
    top: -50px;
}

    