/*General Settings*/

* {
    box-sizing: border-box;
  }
  
  
  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
  }
  
  .container-fluid {
    width: 100%;
    
  }
 
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  
  .scroll-wrapper table {
    width: 100%;
    max-width: 100%;
  }
 
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
 
  .col-sm-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }
 
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
 
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
 
  .col-sm-7 {
    flex: 0 0 58.33334%;
    max-width: 58.33334%;
  }
 
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
 
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
 
  .col-sm-10 {
    flex: 0 0 81.33334%;
    max-width: 81.33334%;
  }
 
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
 
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
 
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
 
  /* Media queries */
  @media(max-width: 767px) {
    @include grid('sm');
  }
  
  @media(min-width: 768px) {
    @include grid('md');
  }
  
  @media(min-width: 992px) {
    @include grid('lg');
  }
  
  @media(min-width: 1200px) {
    @include grid('xl');
  }
