@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "glyphter";






body {
   font: 16px $primary-font;
}

.sidebar, .contentside {
   border: 2px solid black;
   height: 100vh;
  
}

.mainside {
   height: 100vh;
}
.sidebar {
   background-color: $sidebar-color;
   h3, {
      font: 16px $handmade-font2;
      color: $sidebar-font-color;
   }
}

.hamburger-menu {
   
}
.hamburger-stripe {
    height: 2px;
    background-color: white;
    margin: 5px 3px;
    
}

.mainside {
   
}

