@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "glyphter";
@import "form";
@import "modalstyle";

body {
   font: 16px $primary-font;
}

.dashboard {
   height: 100vh;
}

/* Sidebar styles */


    .mobile-menu {
      background-color: $sidebar-color;
      color: $sidebar-font-color;
      max-width: 767px;
     

      ul:nth-child(1) {
      list-style-type: none;
      padding-left: 0px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      }

      h3 {
         font: 16px $handmade-font2;
         color: white;
         padding-left: 30px;
      }

         
      .hamburger {
         color: white;
         line-height: 55px;
         padding-right: 10px;
         cursor: pointer;
         
   
      }

      .mobile-menu-list {  
         list-style-type: none;
         padding-left: 0px;
         margin: 10px 10px 0px 10px;
         display: none;
         cursor: pointer;

         
         li {
            padding: 10px 10px;
            border-bottom: 1px $sidebar-font-color solid;
            
         }
         
         a {
            text-decoration: none;
            color: $sidebar-font-color;
            font-weight: 400;
            }

         a:hover {
               color: white;
                        }

        i {
               padding: 0 12px;
           }

         p {
            margin: 0 auto;
         }

         p:hover {
            color: white;
        }
   
      }
   }

   .hidden {
      display: none;
      color: white;
      line-height: 55px;
      padding-right: 10px;
      cursor: pointer;
   }

   .show {
      display: block !important;
    }

    

    .hide {
       display: none !important;
    }
  
   

.sidebar {
   
   background-color: $sidebar-color;
   color: $sidebar-font-color;
   .decorative-text h3 {
      font: 16px $handmade-font2;
      color: white;
      padding-left: 12px;
   }
}  

.decorative-text {
   ul {
      list-style-type: none;
      padding-left: 0px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
   }

   ul>li {
      display: inline-block;
   }

   li:nth-child(2) {
      line-height: 55px;
      padding-right: 5px;
      color: white;
   } 
}


      .menu {
      font-size: 14px;
      font: $primary-font;
      height: 100vh;
   }

   .menu-list {
      list-style-type: none;
      padding-left: 0px;
      
      
      a {
         text-decoration: none;
         color: $sidebar-font-color;
         font-weight: 400;
         }
      
         a:hover {
            color: white;
            border-left: 2px #f58220 solid;
         }

      li {
         padding: 14px 0;
      }

      i {
         padding: 0 12px;
      }
   }
.login-face {

   h5 {
      padding: 12px;
      font-weight: 700;
              
   }

   ul {
      padding: 0;
	   margin: 0;
      list-style-type: none;
      position: relative;
   }

   ul>li {
         display: flex;
               
     }

   img {
         border-radius: 50%;
         margin-left: 12px;
         
      }

   p{
         font-weight: 300;
         padding-left: 5px;        
      }
   
   .dot-login {
      height: 10px;
      width: 10px;
      background-color:#04ae00;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 45px;
      
}}

  
     
   /*Content Side Styles */

   .border {
      border: $container-boarder;
      
   }
   .content-side {
   color: $paragraph-color;
   border: $inside-boarder;  
   }
   
   /*top text */
 
   
   .top-text {
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      
      
   li {
         display: flex;
         list-style-type: none;
         padding-right: 8px;
         padding-left: 8px;
         cursor: pointer;
               
      }
      
      li > i{
         line-height: 42px;
      }

      li > p{
         font-size: 13px;
         margin: 10px auto;
         
      }

      li > h5 {
         margin: 10px auto;
      }

    

   .dot-notification {
   height: 6px;
   width: 6px;
   background-color: $box-color;
   border-radius: 50%;
   display: inline-block;
   position: absolute;
   right: 1px;
   top: 8px;
   }

   .notification {
      position: relative;
   }

   .login-radius {
      border: 1px #a6a6a6 solid;
      border-radius: 50%;
      margin-right: 10px;
      
   }
   
   li:nth-child(1) {
      border-left: $inside-boarder;
   }  
   li:nth-child(4) {
      border-left: $inside-boarder;
   }  
   li:nth-child(5) {
      border-left: $inside-boarder;
      
      
   }  
   li:nth-child(6) {
      border-left: $inside-boarder;
      border-right: $inside-boarder;
      
   }  
   
   }

/*general statistic */
.general-statistic {
   
   border-bottom: $inside-boarder;

   h3 {
      padding-left: 20px;
      font-weight: 400;
   }
}

/* form */

.form {
   
   border-bottom: $inside-boarder;
   display: inline-block;
   padding: 20px 0px;

   .calendar-form {
      border: $inside-boarder;
   }
   .calendar {
   text-align: center;
   padding: 15px;
   
   }

      .calendar i {
      text-align: right;
   }

   input {
      font: 14px $primary-font;
      border-style: none;
      
        }

}
.refresh {
      padding: 16px;
      
      i{
         background-color: $box-color;
         padding: 10px;
         border-radius: 10%;
      }
   }

   /* Table and chart */
.chart {
   
   border-bottom: $container-boarder;
   padding: 30px;
}

   

    .table td {
      border-bottom: $inside-boarder;
    }

   .chart-title {
      padding: 30px 0px;
   }

   .links {
      padding-right: 10px;
      border-bottom: $inside-boarder;
      
   
      h3 {
         padding-left: 20px;
         font-weight: 400;
      }
      
   }

   .add-new {
      text-align: center;
      padding-bottom: 25px; 
      padding-top: 25px; 
      

       .button {
         margin: 0 auto;
         display: inline-block;
         background-color: $box-color;
         color: white;
         border-radius: 10%;
         border-width: 2px;
         border-color: transparent;
         padding: 5px 15px;
         cursor: pointer;
      } 
   }

   .links-table {

            table {
         margin: 0 auto;
         border-collapse: collapse;
        }

       i {
         visibility: hidden;
       }
  
        td {
         padding: 10px 30px 10px 10px;
         font-size: 16px;
         border-top: $inside-boarder;
         
       }

       .icons-td {
          padding-right: 5px;
       }
      
       a {
         color: #bbcdd9;
         text-decoration: none;
         font-weight: 400;
       }

       .td-bottom {
          border-bottom: $inside-boarder;
       }
   }

   .links-table tr:hover {
      background-color: #f5f5f2;
     
      i {
        visibility: visible;
      
     } 
      .links {
         color: $box-color;
       }
  
      .trash {
        color: $paragraph-color;
      }
   }

   @media(max-width: 767px) {
      .modal {
         ul {
            display: inline-block;
         }
  
         li {
            padding: 10px;
         }
      }
   
   }


    